<div class="index-wrapper">
  <nav>
    <div class="button bauhaus">
      <a href="/games/bauhaus/play">BAUHAUS</a>
    </div>
    <div class="button art-nouveau">
      <a href="/games/art-nouveau/play">ART NOUVEAU</a>
    </div>
    <div class="button post-war-american-art">
      <a href="/games/post-war-american-art/play">POST WAR AMERICAN ART</a>
    </div>
    <div class="button post-war-european-art">
      <a href="/games/post-war-european-art/play">POST WAR EUROPEAN ART</a>
    </div>
    <div class="button renaissance">
      <a href="/games/renaissance/play">RENAISSANCE</a>
    </div>
    <div class="button minimalism">
      <a href="/games/minimalism/play">MINIMALISM</a>
    </div>
    <div class="button impressionism">
      <a href="/games/impressionism/play">IMPRESSIONISM</a> 
    </div>
  </nav>
  <div class="example_img">
    <img class="bauhaus visible" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/504e6558c2fea000020008b2/large.jpg">
    <img class="art-nouveau hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/515d115c769659e1fb002926/2/large.jpg">
    <img class="post-war-american-art hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/52cc916c275b2489e7000182/large.jpg">
    <img class="post-war-european-art hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/4fe1e0da226ad30001002399/large.jpg">
    <img class="renaissance hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/520d36389c18db52b9000669/large.jpg">
    <img class="minimalism hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/5301f514a09a67e3de00025c/large.jpg">
    <img class="impressionism hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/515bb200ea092ff579000ea0/3/large.jpg">

    
  </div>
</div>
<script type="text/javascript">
  $(".button").on("mouseover", function() {
    var $this = $(this);
    var image_class = $this.attr("class").split(" ")[1];
    $image_holder = $(".example_img");
    $image_holder.find(".visible").removeClass("visible").addClass("hidden");
    $image_holder.find("." + image_class).removeClass("hidden").addClass("visible");
  });

</script>