<h3>PICK A CATEGORY</h3>
<a href="/games/bauhaus/play">bauhaus</a>
<a href="/games/art-nouveau/play">art nouveau</a>
<a href="/games/post-war-american-art/play">post-war american art</a>
<a href="/games/post-war-european-art/play">post-war european art</a>
<a href="/games/renaissance/play">renaissance</a>
<a href="/games/minimalism/play">minimalism</a>
<a href="/games/impressionism/play">impressionism</a>