<div class="wrapper">
  <nav>
    <div class="button bauhaus">
      <a href="/games/bauhaus/play">BAUHAUS</a>
    </div>
    <div class="button art-nouveau">
      <a href="/games/art-nouveau/play">ART NOUVEAU</a>
    </div>
    <div class="button post-war-american-art">
      <a href="/games/post-war-american-art/play">POST WAR AMERICAN ART</a>
    </div>
    <div class="button post-war-european-art">
      <a href="/games/post-war-european-art/play">POST WAR EUROPEAN ART</a>
    </div>
    <div class="button renaissance">
      <a href="/games/renaissance/play">RENAISSANCE</a>
    </div>
    <div class="button minimalism">
      <a href="/games/minimalism/play">MINIMALISM</a>
    </div>
    <div class="button impressionism">
      <a href="/games/impressionism/play">IMPRESSIONISM</a> 
    </div>
  </nav>
  <div class="example_img">
    <img class="bauhaus hidden" src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/504e6558c2fea000020008b2/large.jpg">
  </div>
</div>
<script type="text/javascript">
  $(".button").on("mouseover", function() {
    var $this = $(this);
    var image_class = $this.attr("class").split(" ")[1];
    $(".example_img").find(".visible").removeClass("visible").addClass("hidden").fadeOut();
    $(".example_img").find("." + image_class).removeClass("hidden").addClass("visible").fadeIn();
  });

</script>