@score

<ul>
  <% @artworks.each do |artwork| %>
    <li>
      <img src="https://d1ycxz9plii3tb.cloudfront.net/additional_images/<%= artwork.image_id %>/tall.jpg">
      <div>
        <%= artwork.title %>
        <%= artwork.artist.name %>
        <p>Your guess was: <%= params["#{artwork.id}"]["#{artwork.artist_id}"] %></p>
      </div>
    </li>
  <% end %>
  
</ul>
