// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Hammersmith One', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 23px;
  margin-top: -50px;
}

header {
  margin: 5%;
}

.wrapper {
  margin: 5%;
}

.artwork {
  float: left;
  margin: 2%;
}

.info {
  width: 260px;
}

input {
  border: 1px black solid;
}

button, .button {
  background-color: white;
  font-family: 'Hammersmith One', sans-serif;
  border: 1px black solid;
  font-size: 23px;
}

.button {
  border: 1px black solid;
  display: inline;
  font-size: 18px;
}


a {
  text-decoration: none;
  padding: 5px;
  color: black;
  &:hover {
    color: gray;
  }
}

nav {
  width: 100%;
}

.example_img img {
  width: 100%;
}

.hidden {
  display: none;
}
